# Default owners are Client WG leads and TOC
* @knative-sandbox/technical-oversight-committee
* @knative-sandbox/knative-release-leads
* @knative-sandbox/client-wg-leads
# Last match takes precedence for reviews
* @knative-sandbox/kn-plugin-service-log-approvers
